@import '../common/scss/common';

.layout-container {
  width: 100%;
  height: 100%;
}

.layout-section {
  overflow: auto;
}

md-toolbar.glass {
  @include glass();
  color: $grey;
  border-bottom: 1px solid $border-color;
  .md-button {
    color: $grey;
  }
  md-icon {
    color: $grey;
  }
}

#primary-action {
  @include glass();
  color: $grey;
}

.md-is-open {
  #primary-action {
    background-color: rgba(255,255,255,0) !important;
    box-shadow: none;
  }
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-sidenav {
  @include glass();
}

.nav-header {
  position: absolute;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid $border-color;
  text-align: center;
  &.status-bar {
    padding-top: 20px;
  }
}

.user-info {
  padding: 12px 12px 20px 12px;
}

.nametype {
  font-size: 18px;
  font-weight: 600;
  color: $grey;
  margin: 0px;
  padding-left: 16px;
}

.menu-items {
  margin-top: 180px;
  background-color: #fff;
}

.img-round {
  border-radius: 999px;
}

.menu-item-list {
  padding-top: 0;
  padding-bottom: 0;
}

.accent-icon {
  color: $green;
}
.white-icon {
  color: #fff;
}

.over-content {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

md-toolbar.white {
  border-bottom: 1px solid #dededd;
  background-color: #ffffff;
}
md-toolbar.status-bar {
  margin-top: 20px;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    @include glass();
  }
}

.profile-img {
  margin: 16px 16px 0px;
  max-width: 100px;
  border: 1px solid #fff;
}

.status-bar.no-fill {
  background-color: rgba(255, 255, 255, 0);
}
.menu-item, .menu-item .md-list-item-inner {
  min-height: 44px;
}

.menu-item-list {
  .menu-item {
    &.active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

md-backdrop {
  left: 0;
  &.md-sidenav-backdrop {
    transition: all 450ms;
    left: 300px;
  }
}

.main-content {
  max-width: 1200px;
  margin: auto;
  background-color: $light-grey;
}

#main-sidenav {
  @include glass();
}

.content-area {
  background-color: $light-grey;
  overflow: auto;
}

.fixed-layer-1 {
  position: absolute;
  top: 0;
  width: 100%;
}

.fixed-layer-2 {
  position: fixed;
  top: 72px;
  width: 100%;
}
.scroll-layer-2 {
  margin-top: 64px;
  width: 100%;
}
.scroll-layer-3 {
  margin-top: 72px + 48px;
  width: 100%;
}

.small {
  max-width: 32px;
  max-height: 32px;
}

.status-bar {
  .menu-items {
    margin-top: 154px;
  }
  .fixed-layer-2 {
    position: fixed;
    top: 92px;
    width: 100%;
  }
  .scroll-layer-2 {
    margin-top: 84px;
    width: 100%;
  }
  .scroll-layer-3 {
    margin-top: 92px + 48px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 0) {
  .fixed-layer-2 {
    position: fixed;
    top: 62px;
    width: 100%;
  }
  .scroll-layer-2 {
    margin-top: 54px;
    width: 100%;
  }
  .scroll-layer-3 {
    margin-top: 62px + 48px;
    width: 100%;
  }
  .status-bar {
    .fixed-layer-2 {
      position: fixed;
      top: 82px;
      width: 100%;
    }
    .scroll-layer-2 {
      margin-top: 74px;
      width: 100%;
    }
    .scroll-layer-3 {
      margin-top: 82px + 48px;
      width: 100%;
    }
  }
}



