.layout-container {
  width: 100%;
  height: 100%;
}

.grey-side-nav {
  background-color: rgba(255, 255, 255, 0.95);
}

@supports (-webkit-backdrop-filter: none) {
  .grey-side-nav {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px) saturate(50%);
  }
}

.nav-header {
  flex-shrink: 0;
  z-index: 2;
}

a.user-img {
  border-bottom: none;
  text-decoration: none;
}

.user-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 16px;
  margin: 0 auto;
}

.nametype {
  color: #414141;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.img-round {
  border-radius: 999px;
}

.menu-item-list {
  padding-top: 0;
  padding-bottom: 0;
}

.accent-icon {
  color: #1ead8a;
}

md-toolbar.white {
  background-color: #ffffff;
  border-bottom: 1px solid #dededd;
}

.profile-img {
  max-width: 128px;
  border: 1px solid #414141;
}

.status-bar {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  &.no-fill {
    background-color: rgba(255, 255, 255, 0);
  }
}
