<div class="loading-spinner" ng-if="isLoading" layout="column" layout-align="center center">
  <div class="md-whiteframe-z2 round bg-white">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
<div id="councilsApp" class="layout-container" layout="column">
  <section class="layout-section" layout="row" flex>
    <md-sidenav id="main-sidenav" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <header class="nav-header">
        <img class="profile-img img-round" ng-src="{{user.profileImage}}" alt="{{user.preferredName}}">
        <div class="user-info" layout="row" layout-align="space-between center">
          <h1 flex class="nametype md-heading">{{user.fname}} {{user.lname}}</h1>
          <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
            <md-icon>power_settings_new</md-icon>
          </md-button>
        </div>
      </header>
      <md-content class="menu-items">
        <md-list class="menu-item-list">
          <md-list-item class="menu-item" ng-repeat="item in navItems" ui-sref="{{item.state}}" ui-sref-active="active" ng-click="close(item.state)">
            <md-icon class="accent-icon">{{item.icon}}</md-icon>
            <p>{{item.name}}</p>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
        <md-subheader>Private Chats</md-subheader>
        <md-list class="menu-item-list">
          <md-list-item ng-click="openChat(chat)">
           <img src="https://res.cloudinary.com/hgzoysu4o/image/upload/c_thumb,g_face,h_250,w_250/v1439768192/councils_3744679520.png" class="md-avatar small" alt="Mckay Randall" />
            <p>Mckay Randall</p>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </md-content>
    </md-sidenav>
    <div class="content-area" layout="column" flex>
      <md-toolbar id="topBar" layout="row" class="glass fixed-layer-1">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button hide-gt-lg" aria-label="Menu" ng-click="toggleLeft()">
              <md-icon>{{navIcon}}</md-icon>
            </md-button>
            <h2>
              <span>{{title}}</span>
            </h2>
            <span flex></span>
          </div>
      </md-toolbar>
      <div layout="column" ng-transclude></div>
      <md-fab-toolbar flex md-theme="white" md-direction="left" class="over-content">
        <md-fab-trigger>
          <md-button id="primary-action" aria-label="Create" class="md-fab md-primary">
            <md-icon>add</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar layout="row" class="md-fab-bottom-right">
          <md-fab-actions class="md-toolbar-tools" layout="row">
            <md-button aria-label="Discussion" class="md-icon-button" ui-sref="create.discussion">
              <md-icon aria-label="Create New Discussion">chat</md-icon>
            </md-button>
            <md-button aria-label="Assignment" class="md-icon-button" ui-sref="create.assignment">
              <md-icon aria-label="Create New Assignment">assignment</md-icon>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar>
    </div>
  </section>
</div>

