.agenda_detail
  h2
    max-height: 14px
    overflow: hidden

    div
      @extend .dib
      @extend .cBlue
      white-space: nowrap
      min-width: 100px
      padding: 0 20px

      &.selected
        @extend .grey9

  .item
    > div:last-child
      color: #AAA
      @extend .f18

  label
    span
      @extend .greyC
      @extend .f12
      @extend .sans
      text-transform: uppercase
      letter-spacing: 1px

      &.serif
        @extend .serif
        @extend .f18
        @extend .bk
        text-transform: none
        letter-spacing: 0

      &.mute
        color: #AAA!important;

    div.input
      @extend .greyA

    select, input, div.input
      @extend .serif
      height: 30px
      border: none
      background-color: transparent
      font-size: 18px
      -webkit-appearance: none
      padding: 0

    textarea
      margin-top: 0 !important
