.pane
  &.home
    #user-avatar
      border-radius: 50%
      max-width: 200px
      height: 25vw
      width: 25vw
      max-height: 200px
      margin: 0 auto
      background-position: center center
      background-size: cover
      border: 2px solid #EEE

    .item
      font-size: 17px;

      .username,
      .date
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
    .my-councils
      .item-content
        padding-right: 16px;
      .icon
        font-size: 24px
        padding: 5px 10px