<md-tabs id="home-tabs" class="border-bottom" md-dynamic-height md-swipe-content="true" md-selected="home.tabs.selectedIndex">
  <md-tab id="assignments">
    <md-tab-label>My Assignments</md-tab-label>
    <md-tab-body>
      <div class="margin-on-md">
        <md-subheader class="transparent md-no-sticky">My unfinished assignments</md-subheader>
        <md-list class="chat-list">
          <md-list-item md-no-ink class="md-2-line" ng-repeat="assignment in home.myAssignments | filter:{completed:false}">
            <md-checkbox ng-model="assignment._completed" ng-change="home.update($event, assignment)"></md-checkbox>
            <div class="md-list-item-text" layout="row" layout-align="space-between center">
              <div flex class="left">
                <h3 class="multiline serif">{{assignment.content}}</h3>
                <p layout="row">
                  <span am-time-ago="assignment.dueDate"></span>
                </p>
              </div>
              <md-button class="right md-icon-button" aria-label="Chat" ng-click="home.openChat($event, assignment)">
                <md-icon class="accent-icon" >chat</md-icon>
              </md-button>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <md-subheader class="transparent md-no-sticky">My delagated assignments</md-subheader>
        <md-list class="chat-list">
          <md-list-item md-no-ink class="md-2-line" ng-repeat="assignment in home.delegatedAssignments | filter:{completed:false}">
            <md-checkbox ng-model="assignment._completed" ng-change="home.update($event, assignment)"></md-checkbox>
            <div class="md-list-item-text" layout="row" layout-align="space-between center">
              <div flex class="left">
                <h3 class="multiline serif">{{assignment.content}}</h3>
                <p>
                  <span am-time-ago="assignment.dueDate"></span>
                  <span class="seen" ng-if="assignment.hasBeenViewed">
                    <md-tooltip>Seen</md-tooltip>
                    <md-icon class="material-icons md-light md-18">remove_red_eye</md-icon>
                  <span>
                </p>
              </div>
              <md-button class="right md-icon-button" aria-label="Chat" ng-click="home.openChat($event, assignment)">
                <md-icon class="accent-icon" >chat</md-icon>
              </md-button>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="discussions">
    <md-tab-label>My Discussions</md-tab-label>
    <md-tab-body>
      <div class="margin-on-md">
        <md-subheader class="transparent md-no-sticky">Ordered by date created</md-subheader>
        <md-list class="chat-list">
          <md-list-item class="discussion-item md-no-proxy" ng-repeat="discussion in home.discussions">
            <div flex layout="row" layout-align="center center">
              <img ng-src="{{discussion.userAvatar}}" class="md-avatar" alt="{{discussion.userName}}" />
              <div flex>
                <p class="user-name">{{discussion.userName}}</p>
                <p class="item-time" am-time-ago="discussion.createdDate"></p>
              </div>
            </div>
            <p flex class="multiline serif">{{discussion.content}}</p>
            <div>
              <md-button class="right" aria-label="Chat" ng-click="home.openChat($event, discussion)">
                <md-icon class="accent-icon" >chat</md-icon>
                <span>Reply</span>
              </md-button>
            </div>
            <md-divider></md-divider>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </md-tab-body>
  </md-tab>
</md-tabs>
