.modal
  &.member
    .item
      &.selected
        @extend .cBlue
        &:after
          @extend .dib
          @extend .f36
          content: "\f3fd"
          position: absolute
          top: 15px
          right: 5px
          font-family: "Ionicons"
          -webkit-font-smoothing: antialiased
    .bar-footer
      height: auto