$light-grey: #f8f8f8;
$green: #1ead8a;
$whtie: #fff;
$grey: #414141;
$border-color: rgba(0, 0, 0, 0.12);

@mixin glass () {
  background-color: rgba(255, 255, 255, 1);
  @supports (-webkit-backdrop-filter: none) {
    background-color: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: blur(8px) saturate(10) !important;
    // backdrop-filter: blur(10px) saturate(50) !important;
  }
}

