/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #3c7a99 !default;
$font-family-sans-serif: 'Gotham', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif !default;
$font-family-light-sans-serif: 'Gotham-Light', 'HelveticaNeue-Light', 'Roboto-Light', 'Segoe UI-Light', sans-serif-light !default;
$font-family-serif: 'Surveyor', serif !default;
$font-family-monospace: monospace !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: '../lib/ionic/fonts' !default;

// Include all of Ionic
@import '../www/lib/ionic/scss/ionic';

// Added by Dan
// Include base sass styling
@import 'base/base';

// Include components
@import 'components/components';

// Include page specific styles
@import 'pages/pages';

html,
body {
  font-family: $font-family-sans-serif;
}
